@model IEnumerable<Travals.Models.CityModel>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
                <h3 class="m_2">Search Cities</h3>
                <br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>